---
import { SignOutButton } from "@clerk/astro/components";
import Layout from "../../layouts/Layout.astro";

if (!Astro.locals.auth().userId) {
  return Astro.redirect("/login");
}

const user = await Astro.locals.currentUser();
---

<Layout title="Dashboard">
  <div class="p-6 container mx-auto">
    <header class="flex flex-col">
      <div class="flex justify-between items-center">
        <svg height="32" viewBox="0 0 256 178" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.4663 60.335C83.229 -8.02649 173.634 20.8424 239.397 96.9995"
            stroke="black"
            stroke-opacity="0.4"
            stroke-width="22.4191"
            stroke-linecap="round"></path>
          <path
            d="M16.9995 59.777C82.7622 128.139 173.634 95.1571 239.397 19"
            stroke="black"
            stroke-width="22.4191"
            stroke-linecap="round"></path>
          <path
            d="M20.0622 148.969V154.705H3.07028V148.969H20.0622ZM6.95977 176.5V146.979C6.95977 144.984 7.34812 143.329 8.12482 142.014C8.91348 140.7 9.98891 139.714 11.3511 139.057C12.7133 138.4 14.2608 138.071 15.9934 138.071C17.1645 138.071 18.2339 138.161 19.2018 138.34C20.1816 138.519 20.9106 138.681 21.3885 138.824L20.0263 144.56C19.7276 144.464 19.3571 144.374 18.915 144.291C18.4848 144.207 18.0427 144.165 17.5887 144.165C16.4654 144.165 15.6827 144.428 15.2406 144.954C14.7985 145.468 14.5774 146.191 14.5774 147.123V176.5H6.95977ZM31.5917 177.02C29.8352 177.02 28.2698 176.715 26.8956 176.106C25.5215 175.484 24.4341 174.57 23.6335 173.363C22.8448 172.144 22.4505 170.627 22.4505 168.811C22.4505 167.281 22.7313 165.997 23.2929 164.957C23.8546 163.917 24.6193 163.081 25.5872 162.448C26.5551 161.814 27.6544 161.336 28.8852 161.014C30.1279 160.691 31.4304 160.464 32.7926 160.333C34.3938 160.165 35.6843 160.01 36.6642 159.867C37.644 159.711 38.355 159.484 38.7971 159.185C39.2393 158.887 39.4603 158.445 39.4603 157.859V157.752C39.4603 156.616 39.1018 155.738 38.3849 155.117C37.6799 154.495 36.6761 154.185 35.3737 154.185C33.9995 154.185 32.9061 154.489 32.0936 155.099C31.281 155.696 30.7433 156.449 30.4804 157.357L23.4184 156.784C23.7769 155.111 24.4819 153.665 25.5334 152.446C26.585 151.215 27.9412 150.271 29.6022 149.614C31.2751 148.945 33.2108 148.61 35.4095 148.61C36.939 148.61 38.4028 148.79 39.8009 149.148C41.2109 149.507 42.4596 150.062 43.547 150.815C44.6463 151.568 45.5126 152.536 46.1459 153.719C46.7793 154.89 47.0959 156.294 47.0959 157.931V176.5H39.8546V172.682H39.6396C39.1974 173.543 38.6059 174.301 37.8651 174.959C37.1242 175.604 36.234 176.112 35.1944 176.482C34.1548 176.841 32.9539 177.02 31.5917 177.02ZM33.7784 171.75C34.9017 171.75 35.8935 171.529 36.7538 171.087C37.6142 170.633 38.2893 170.023 38.7792 169.259C39.2691 168.494 39.5141 167.628 39.5141 166.66V163.738C39.2751 163.894 38.9465 164.037 38.5283 164.168C38.122 164.288 37.662 164.401 37.1481 164.509C36.6343 164.604 36.1205 164.694 35.6067 164.778C35.0929 164.849 34.6268 164.915 34.2086 164.975C33.3124 165.106 32.5297 165.315 31.8606 165.602C31.1914 165.889 30.6716 166.277 30.3012 166.767C29.9308 167.245 29.7456 167.843 29.7456 168.56C29.7456 169.599 30.122 170.394 30.8748 170.944C31.6395 171.481 32.6074 171.75 33.7784 171.75ZM53.0198 176.5V148.969H60.6554V176.5H53.0198ZM56.8555 145.42C55.7203 145.42 54.7464 145.044 53.9339 144.291C53.1333 143.526 52.733 142.612 52.733 141.548C52.733 140.497 53.1333 139.595 53.9339 138.842C54.7464 138.077 55.7203 137.695 56.8555 137.695C57.9907 137.695 58.9586 138.077 59.7592 138.842C60.5717 139.595 60.978 140.497 60.978 141.548C60.978 142.612 60.5717 143.526 59.7592 144.291C58.9586 145.044 57.9907 145.42 56.8555 145.42ZM81.4157 148.969V154.705H64.8361V148.969H81.4157ZM68.6001 142.373H76.2357V168.04C76.2357 168.745 76.3433 169.295 76.5584 169.689C76.7734 170.071 77.0722 170.34 77.4545 170.495C77.8489 170.651 78.3029 170.728 78.8168 170.728C79.1752 170.728 79.5337 170.699 79.8922 170.639C80.2507 170.567 80.5255 170.513 80.7167 170.478L81.9176 176.159C81.5352 176.279 80.9975 176.416 80.3044 176.572C79.6114 176.739 78.769 176.841 77.7772 176.876C75.937 176.948 74.3238 176.703 72.9377 176.142C71.5636 175.58 70.4941 174.708 69.7293 173.525C68.9646 172.342 68.5882 170.848 68.6001 169.044V142.373ZM94.6167 160.584V176.5H86.9811V139.792H94.4016V153.826H94.7242C95.3456 152.201 96.3493 150.929 97.7355 150.008C99.1216 149.076 100.86 148.61 102.951 148.61C104.863 148.61 106.53 149.029 107.952 149.865C109.386 150.69 110.497 151.879 111.286 153.432C112.087 154.973 112.481 156.82 112.469 158.97V176.5H104.833V160.333C104.845 158.636 104.415 157.315 103.543 156.371C102.682 155.427 101.476 154.955 99.9222 154.955C98.8826 154.955 97.9625 155.177 97.1619 155.619C96.3732 156.061 95.7519 156.706 95.2978 157.554C94.8557 158.391 94.6286 159.401 94.6167 160.584ZM122.941 176.966C121.758 176.966 120.742 176.548 119.894 175.711C119.057 174.863 118.639 173.847 118.639 172.664C118.639 171.493 119.057 170.49 119.894 169.653C120.742 168.817 121.758 168.398 122.941 168.398C124.088 168.398 125.092 168.817 125.952 169.653C126.813 170.49 127.243 171.493 127.243 172.664C127.243 173.453 127.04 174.176 126.633 174.833C126.239 175.478 125.719 175.998 125.074 176.392C124.429 176.775 123.718 176.966 122.941 176.966ZM148.155 148.969V154.705H131.576V148.969H148.155ZM135.34 142.373H142.975V168.04C142.975 168.745 143.083 169.295 143.298 169.689C143.513 170.071 143.812 170.34 144.194 170.495C144.589 170.651 145.043 170.728 145.556 170.728C145.915 170.728 146.273 170.699 146.632 170.639C146.99 170.567 147.265 170.513 147.456 170.478L148.657 176.159C148.275 176.279 147.737 176.416 147.044 176.572C146.351 176.739 145.509 176.841 144.517 176.876C142.677 176.948 141.064 176.703 139.677 176.142C138.303 175.58 137.234 174.708 136.469 173.525C135.704 172.342 135.328 170.848 135.34 169.044V142.373ZM165.273 177.038C162.489 177.038 160.081 176.446 158.049 175.263C156.03 174.068 154.471 172.407 153.371 170.28C152.272 168.141 151.722 165.662 151.722 162.842C151.722 159.998 152.272 157.513 153.371 155.386C154.471 153.247 156.03 151.586 158.049 150.403C160.081 149.208 162.489 148.61 165.273 148.61C168.057 148.61 170.459 149.208 172.478 150.403C174.51 151.586 176.075 153.247 177.174 155.386C178.274 157.513 178.823 159.998 178.823 162.842C178.823 165.662 178.274 168.141 177.174 170.28C176.075 172.407 174.51 174.068 172.478 175.263C170.459 176.446 168.057 177.038 165.273 177.038ZM165.309 171.123C166.575 171.123 167.633 170.764 168.481 170.047C169.33 169.318 169.969 168.327 170.399 167.072C170.841 165.817 171.062 164.389 171.062 162.788C171.062 161.187 170.841 159.759 170.399 158.504C169.969 157.25 169.33 156.258 168.481 155.529C167.633 154.8 166.575 154.436 165.309 154.436C164.03 154.436 162.955 154.8 162.082 155.529C161.222 156.258 160.571 157.25 160.129 158.504C159.698 159.759 159.483 161.187 159.483 162.788C159.483 164.389 159.698 165.817 160.129 167.072C160.571 168.327 161.222 169.318 162.082 170.047C162.955 170.764 164.03 171.123 165.309 171.123ZM196.227 177.038C193.443 177.038 191.035 176.446 189.004 175.263C186.985 174.068 185.425 172.407 184.326 170.28C183.227 168.141 182.677 165.662 182.677 162.842C182.677 159.998 183.227 157.513 184.326 155.386C185.425 153.247 186.985 151.586 189.004 150.403C191.035 149.208 193.443 148.61 196.227 148.61C199.012 148.61 201.413 149.208 203.433 150.403C205.464 151.586 207.03 153.247 208.129 155.386C209.228 157.513 209.778 159.998 209.778 162.842C209.778 165.662 209.228 168.141 208.129 170.28C207.03 172.407 205.464 174.068 203.433 175.263C201.413 176.446 199.012 177.038 196.227 177.038ZM196.263 171.123C197.53 171.123 198.587 170.764 199.436 170.047C200.284 169.318 200.923 168.327 201.354 167.072C201.796 165.817 202.017 164.389 202.017 162.788C202.017 161.187 201.796 159.759 201.354 158.504C200.923 157.25 200.284 156.258 199.436 155.529C198.587 154.8 197.53 154.436 196.263 154.436C194.985 154.436 193.909 154.8 193.037 155.529C192.177 156.258 191.525 157.25 191.083 158.504C190.653 159.759 190.438 161.187 190.438 162.788C190.438 164.389 190.653 165.817 191.083 167.072C191.525 168.327 192.177 169.318 193.037 170.047C193.909 170.764 194.985 171.123 196.263 171.123ZM222.378 139.792V176.5H214.743V139.792H222.378ZM251.402 156.82L244.411 157.25C244.292 156.652 244.035 156.115 243.641 155.637C243.246 155.147 242.727 154.758 242.081 154.472C241.448 154.173 240.689 154.023 239.805 154.023C238.622 154.023 237.624 154.274 236.812 154.776C235.999 155.266 235.593 155.923 235.593 156.748C235.593 157.405 235.856 157.961 236.381 158.415C236.907 158.869 237.809 159.233 239.088 159.508L244.071 160.512C246.747 161.062 248.743 161.946 250.057 163.165C251.372 164.383 252.029 165.985 252.029 167.968C252.029 169.773 251.497 171.356 250.434 172.718C249.382 174.08 247.936 175.144 246.096 175.909C244.268 176.661 242.159 177.038 239.769 177.038C236.125 177.038 233.221 176.279 231.058 174.761C228.907 173.232 227.647 171.153 227.276 168.524L234.786 168.13C235.013 169.241 235.563 170.089 236.435 170.675C237.308 171.248 238.425 171.535 239.787 171.535C241.125 171.535 242.201 171.278 243.013 170.764C243.838 170.239 244.256 169.563 244.268 168.739C244.256 168.046 243.963 167.478 243.39 167.036C242.816 166.582 241.932 166.236 240.737 165.997L235.969 165.047C233.281 164.509 231.279 163.577 229.965 162.25C228.662 160.924 228.011 159.233 228.011 157.178C228.011 155.41 228.489 153.886 229.445 152.607C230.413 151.329 231.769 150.343 233.514 149.65C235.27 148.957 237.325 148.61 239.679 148.61C243.157 148.61 245.893 149.345 247.889 150.815C249.896 152.285 251.067 154.286 251.402 156.82Z"
            fill="black"></path>
        </svg>

        <div role="tablist" class="not-prose tabs tabs-boxed w-fit">
          <a role="tab" class="tab tab-active">Page</a>
          <a role="tab" class="tab">Posts</a>
          <a role="tab" class="tab">Emails</a>
        </div>
        <SignOutButton
          class="btn btn-sm btn-outline border-slate-200 hover:bg-slate-200 hover:text-slate-900 hover:border-slate-300 border-2 shadow-none"
        />
      </div>
    </header>

    <main class="py-12 flex flex-col gap-6">
      <h1 class="text-center">Edit Page</h1>

      <section class="w-full">
        <div class="p-6 rounded-2xl bg-white w-full shadow flex flex-col gap-12">
          <div>
            <h2 class="text-slate-700">Banner Image</h2>
            <img
              src="/assets/placeholder.svg"
              alt=""
              class="my-0 rounded-xl border-2 border-slate-200 aspect-video object-cover object-center w-full"
            />
          </div>

          <div>
            <h2 class="text-slate-700">Name of Tool</h2>
            <input type="text" class="input input-bordered w-full rounded-lg bg-white" />
          </div>

          <div>
            <h2 class="text-slate-700">Description</h2>
            <textarea class="textarea textarea-bordered textarea-md px-4 py-2 w-full rounded-lg bg-white"></textarea>
          </div>
        </div>
      </section>
    </main>
  </div>
</Layout>
