---
import "trix/dist/trix.css";
import { CldUploadWidget } from "astro-cloudinary";
import { getCldImageUrl } from "astro-cloudinary/helpers";
import { db, Projects, eq } from "astro:db";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";

if (!Astro.locals.auth().userId) {
  return Astro.redirect("/login");
}

const user = await Astro.locals.currentUser();
const projects = await db
  .select()
  .from(Projects)
  .where(eq(Projects.userId, user?.id || ""))
  .limit(1);
const project = projects[0];

const bannerImageUrl = getCldImageUrl({
  src: project?.bannerImageId || "",
  width: 1200,
  crop: "fill",
  format: "webp"
});
---

<Layout title="Dashboard">
  <div class="p-6 container mx-auto">
    <Header activeTab="page" />

    <main class="py-12 flex flex-col gap-6">
      <section class="w-full">
        <div class="p-6 rounded-2xl bg-white w-full shadow flex flex-col gap-12">
          <div>
            <h2 class="text-slate-700">Banner</h2>
            <CldUploadWidget
              id="upload-banner"
              uploadPreset="ml_default"
              options={{
                sources: ["local"],
                multiple: false,
                maxFiles: 1,
                croppingAspectRatio: 16 / 9,
                folder: user?.id || "default"
              }}
            >
              <button class="w-full">
                <img
                  src={bannerImageUrl || "/assets/placeholder.svg"}
                  alt=""
                  class="my-0 rounded-xl border-2 border-slate-200 aspect-video object-cover object-center w-full"
                />
              </button>
            </CldUploadWidget>
            <button
              class="mt-4 btn btn-sm btn-outline border-slate-200 hover:bg-slate-200 hover:text-slate-900 hover:border-slate-300 border-2 shadow-none"
              >Or, paste a YouTube video URL</button
            >
          </div>

          <div>
            <h2 class="text-slate-700">Name of Tool</h2>
            <input value={project?.title || ""} type="text" class="input input-bordered w-full rounded-lg bg-white" />
          </div>

          <div>
            <h2 class="text-slate-700">Description</h2>
            <input id="x" value={project?.content || ""} type="hidden" name="content">
            <trix-editor input="x"></trix-editor>
          </div>
        </div>
      </section>
    </main>
  </div>
</Layout>

<script>
  // @ts-ignore - no types available
  import Trix from "trix";

  type UploadInfo = {
    id: string;
    batchId: string;
    asset_id: string;
    public_id: string;
    version: number;
    version_id: string;
    signature: string;
    width: number;
    height: number;
    format: string;
    resource_type: string;
    created_at: string;
    tags: string[];
    bytes: number;
    type: string;
    etag: string;
    placeholder: boolean;
    url: string;
    secure_url: string;
    asset_folder: string;
    display_name: string;
    existing: boolean;
    original_filename: string;
    path: string;
    thumbnail_url: string;
  };

  type UploadEvent = {
    event: string;
    info: UploadInfo;
    UploadWidget: Record<string, unknown>;
  };

  document.addEventListener("trix-file-accept", function (event) {
    event.preventDefault();
  });

  const widget = document.querySelector("#upload-banner");

  if (widget) {
    widget.addEventListener("clduploadwidget:success", ((e: CustomEvent<UploadEvent>) => {
      console.log("clduploadwidget:success", e.detail);
      // Save the public_id to the database
      const publicId = e.detail.info.public_id;
      console.log("publicId", publicId);
    }) as EventListener);
  }
</script>
