---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";

if (!Astro.locals.auth().userId) {
  return Astro.redirect("/login");
}

const user = await Astro.locals.currentUser();
---

<Layout title="Dashboard">
  <div class="p-6 container mx-auto">
    <Header activeTab="page" />

    <main class="py-12 flex flex-col gap-6">
      <section class="w-full">
        <div class="p-6 rounded-2xl bg-white w-full shadow flex flex-col gap-12">
          <div>
            <h2 class="text-slate-700">Banner</h2>
            <img
              src="/assets/placeholder.svg"
              alt=""
              class="my-0 rounded-xl border-2 border-slate-200 aspect-video object-cover object-center w-full"
            />
            <button
              class="mt-4 btn btn-sm btn-outline border-slate-200 hover:bg-slate-200 hover:text-slate-900 hover:border-slate-300 border-2 shadow-none"
              >Or, paste a YouTube video URL</button
            >
          </div>

          <div>
            <h2 class="text-slate-700">Name of Tool</h2>
            <input type="text" class="input input-bordered w-full rounded-lg bg-white" />
          </div>

          <div>
            <h2 class="text-slate-700">Description</h2>
            <textarea class="textarea textarea-bordered textarea-md px-4 py-2 w-full rounded-lg bg-white"></textarea>
          </div>
        </div>
      </section>
    </main>
  </div>
</Layout>
