---
import { SignIn } from "@clerk/astro/components";
import Layout from "../layouts/Layout.astro";

if (Astro.locals.auth().userId) {
  return Astro.redirect("/dashboard");
}
---

<Layout
  title="Freedom Stack Boilerplate"
  description="A free full-stack boilerplate that feels freeing. Astro, HTMX, Alpine.js, Astro DB, Clerk Auth, Preline UI, & daisyUI."
>
  <main class="relative overflow-hidden not-prose">
    <div class="container flex justify-center items-center h-screen mx-auto px-4 sm:px-6 lg:px-8">
      <SignIn />
    </div>
  </main>
</Layout>
