---
import SignInOrOpenDashboard from "./server-islands/SignInOrOpenDashboard.astro";
import Logo from "./Logo.astro";

interface Props {
  showLogo?: boolean;
  showHireCam?: boolean;
}

const { showLogo = true, showHireCam = false } = Astro.props as Props;

const isDashboard = Astro.url.pathname.startsWith("/dashboard");
---

<footer class="not-prose text-center text-slate-500 text-sm py-0 my-0 flex flex-col gap-2">
  {
    showLogo ? (
      <a href="/" class="flex justify-center">
        <Logo classList="opacity-20 hover:opacity-100 transition-opacity duration-500" />
      </a>
    ) : null
  }
  <p class="py-0 mb-0 mt-4">
    kit <em>(keep in touch)</em> © 2024 • a <a
      class="text-inherit font-normal"
      href="https://faith.tools"
      target="_blank">faith.tools</a
    > experiment
  </p>
  <ul class="list-none p-0 m-0 flex gap-3 justify-center">
    <li><a class="text-inherit font-normal" href="https://faith.tools/posts/terms" target="_blank">Terms</a></li>
    <li>
      <a class="text-inherit font-normal" href="https://faith.tools/posts/privacy-policy" target="_blank">Privacy</a>
    </li>
    <li><a class="text-inherit font-normal" href="https://go.faith.tools/contact" target="_blank">Feedback</a></li>
    {
      showHireCam ? (
        <li><a class="text-inherit font-normal" href="https://cameronpak.com/freelance" target="_blank">Hire Cam</a></li>
      ) : null
    }
    <SignInOrOpenDashboard isDashboard={isDashboard} server:defer />
  </ul>
</footer>
