---
import SignInOrOpenDashboard from "./server-islands/SignInOrOpenDashboard.astro";

const isDashboard = Astro.url.pathname.startsWith("/dashboard");
---

<footer class="text-center text-slate-500 text-sm py-0 my-0">
  <p class="py-0 my-0">kit <em>(keep in touch)</em> © 2024 • a faith.tools experiment</p>
  <ul class="list-none p-0 m-0 flex gap-2 justify-center">
    <li><a class="text-inherit font-normal" href="https://faith.tools" target="_blank">faith.tools</a></li>
    <li><a class="text-inherit font-normal" href="https://faith.tools/posts/terms" target="_blank">Terms</a></li>
    <li>
      <a class="text-inherit font-normal" href="https://faith.tools/posts/privacy-policy" target="_blank">Privacy</a>
    </li>
    <li><a class="text-inherit font-normal" href="https://go.faith.tools/contact" target="_blank">Feedback</a></li>

    <SignInOrOpenDashboard isDashboard={isDashboard} server:defer />
  </ul>
</footer>
