---
import { SignOutButton } from "@clerk/astro/components";
import Logo from "./Logo.astro";

interface Props {
  activeTab: "page" | "posts" | "contacts";
}

const { activeTab }: Props = Astro.props;
---

<header class="not-prose grid grid-cols-3 w-full">
  <Logo />

  <div
    role="tablist"
    class="grid grid-cols-3 justify-self-center self-center not-prose tabs tabs-boxed w-fit bg-slate-200"
  >
    <a role="tab" href="/dashboard" class={`tab ${activeTab === "page" ? "tab-active" : ""}`}>Page</a>
    <a role="tab" href="/dashboard/posts" class={`tab ${activeTab === "posts" ? "tab-active" : ""}`}>Posts</a>
    <a role="tab" href="/dashboard/contacts" class={`tab ${activeTab === "contacts" ? "tab-active" : ""}`}>Contacts</a>
  </div>

  <SignOutButton
    class="btn w-fit justify-self-end self-center btn-sm btn-outline border-slate-200 hover:bg-slate-200 hover:text-slate-900 hover:border-slate-300 border-2 shadow-none"
  />
</header>
