---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

interface Props {
  showAnimatedLogo?: boolean;
  classList?: string;
  autoplay?: boolean;
}

const { showAnimatedLogo = false, classList, autoplay = true } = Astro.props as Props;
---

{
  showAnimatedLogo ? (
    <LottieAnimation
      class={classList}
      src="/assets/lottie/ft-kit.json"
      autoplay={autoplay ? "visible" : false}
      loop={false}
      class="!h-12 sm:translate-y-1 m-0 p-0 w-full flex justify-center [&>svg]:h-12 w-full"
    />
  ) : (
    <div class="tooltip tooltip-bottom w-fit sm:translate-y-1" data-tip="kit = keep in touch">
      <svg height="32" class={classList} viewBox="0 0 444 132" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M274.186 101.191L274.299 68.0295H278.167L302.74 36.745H334.252L297.734 81.5671H290.397L274.186 101.191ZM249.101 124.114V7.62204H276.916V124.114H249.101ZM303.365 124.114L280.499 87.824L298.815 68.0864L335.503 124.114H303.365Z"
          fill="black"
        />
        <path
          d="M344.206 124.114V36.745H372.021V124.114H344.206ZM358.142 26.5634C354.236 26.5634 350.88 25.2741 348.074 22.6955C345.268 20.0789 343.865 16.9315 343.865 13.2532C343.865 9.61286 345.268 6.50338 348.074 3.92478C350.88 1.30826 354.236 0 358.142 0C362.085 0 365.441 1.30826 368.21 3.92478C371.016 6.50338 372.419 9.61286 372.419 13.2532C372.419 16.9315 371.016 20.0789 368.21 22.6955C365.441 25.2741 362.085 26.5634 358.142 26.5634Z"
          fill="black"
        />
        <path
          d="M439.04 36.745V57.2221H383.923V36.745H439.04ZM395.47 15.8129H423.284V96.6405C423.284 98.347 423.55 99.7311 424.081 100.793C424.65 101.817 425.465 102.556 426.527 103.011C427.588 103.428 428.859 103.637 430.338 103.637C431.399 103.637 432.518 103.542 433.694 103.352C434.907 103.125 435.817 102.935 436.424 102.784L440.633 122.863C439.306 123.242 437.429 123.716 435.002 124.285C432.613 124.853 429.75 125.214 426.413 125.365C419.891 125.669 414.297 124.91 409.633 123.09C405.007 121.232 401.461 118.35 398.996 114.444C396.569 110.538 395.394 105.628 395.47 99.7121V15.8129Z"
          fill="black"
        />
        <path
          d="M15.5264 81.6326C73.9837 20.8651 154.346 46.5271 212.804 114.224"
          stroke="black"
          stroke-opacity="0.4"
          stroke-width="19.9286"
          stroke-linecap="round"
        />
        <path
          d="M15.1108 81.1366C73.5682 141.905 154.346 112.587 212.803 44.8894"
          stroke="black"
          stroke-width="19.9286"
          stroke-linecap="round"
        />
      </svg>
    </div>
  )
}
