---
import Icon from "astro-iconify";

interface Props {
  projectUserId: string;
  postId: string;
}

const userId = Astro.locals.auth().userId;
const { projectUserId, postId } = Astro.props;
---

{
  userId === projectUserId ? (
    <a
      href={`/dashboard/posts/edit/${postId}`}
      class="btn btn-sm btn-ghost btn-circle hover:bg-slate-100 border-none"
    >
      <Icon pack="lucide" name="pencil" height={20} width={20} class="shrink-0 text-slate-500" />
    </a>
  ) : null
}
