---
import "../global.css";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const { title, description = "", ogImage } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-slate-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || title} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={ogImage || "/og-image.png"} />
    <meta property="og:title" content={`${title} • faith.tools kit`} />
    <meta property="og:description" content={description} />
    <title>{title} • faith.tools kit</title>
  </head>

  <body class="!max-w-[100vw] w-full">
    <slot />
  </body>
</html>

<script>
  // @ts-ignore
  import * as htmx from "htmx.org";

  window.htmx = htmx;
</script>
